{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    ["@babel/plugin-transform-modules-commonjs"],
    [
      "babel-plugin-root-import",
      {
        "paths": [
          { "rootPathPrefix": "#", "rootPathSuffix": "" },
          { "rootPathPrefix": "~", "rootPathSuffix": "src" },
          {
            "rootPathPrefix": "chart",
            "rootPathSuffix": "src/renderer/view/components/h5/ec/webpack/modules/chart"
          },
          {
            "rootPathPrefix": "images",
            "rootPathSuffix": "src/renderer/view/components/h5/ec/webpack/modules/images"
          }
        ]
      }
    ]
  ],
  "env": {
    "debug": { "sourceMap": "inline", "retainLines": true }
  }
}
