{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "babel-plugin-root-import",
      {
        "paths": [
          { "rootPathPrefix": "#", "rootPathSuffix": "" },
          { "rootPathPrefix": "~", "rootPathSuffix": "" }
        ]
      }
    ]
  ],
  "env": {
    "debug": { "sourceMap": "inline", "retainLines": true }
  }
}
