#sidebar {
  position: fixed;
  left: 0;
  top: 100px;
  background: rgba(255, 255, 255, 0.6);
  color: white;
  z-index: 1000;
}
#sidebar ul {
  margin: 0;
  padding: 0;
}
#sidebar ul:hover {
  width: 25px;
}
#sidebar ul li {
  display: block;
}
table {
  width: 100%;
}
th,
td {
  text-align: left;
}

.action {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}
#tbl table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  z-index: 1;
}
#tbl table thead th:first-child {
  position: sticky;
  left: 0px;
  background: #666;
  z-index: 2;
}
#tbl table tbody td:first-child {
  position: sticky;
  left: 0px;
  background: #222;
  color: #fff;
  width: 35px;
}

#tbl table tbody tr:hover td:first-child {
  background: #444;
}

#tbl table thead :nth-child(2) th {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 1;
}

table th,
table td {
  font-size: 12px;
  text-align: left;
  border: none;
  padding: 5px;
}
table th:not(:first-of-type) {
  border-left: 0;
}
table td {
  border-top: 0;
}
table td:not(:first-of-type) {
  border-left: 0;
}
table th {
  background: #666;
  color: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
table tr:nth-of-type(even) td {
  background: whitesmoke;
}
table tr:nth-of-type(odd) td {
  background: white;
}
table tr:hover td {
  background: #e3e3e3;
}
table th {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 150ms;
  user-select: none;
}
table th:before {
  content: "";
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, color 300ms;
  transition: transform 300ms, color 300ms, -webkit-transform 300ms;
  position: absolute;
  font-size: 18px;
  left: 4px;
  top: calc(50% - 9px);
}
table .ascending:before {
  /*-webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);*/
  color: white;
}
table .descending:before {
  /*-webkit-transform: rotate(90deg);
  transform: rotate(90deg);*/
  color: white;
}
table .ascending::before {
  content: "↑";
  margin-left: -5px;
  font-size: 12px;
}
table td {
  word-break: keep-all;
  white-space: nowrap;
}
table th {
  word-break: keep-all;
  white-space: nowrap;
}
table .descending:before {
  content: "↓";
  margin-left: -5px;
  font-size: 12px;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

.avggood {
  color: red;
}
/* 定义keyframe动画，命名为blink */

.avggood,
.lk {
  color: green;
}

.sz::before {
  content: "•";
}

.reportUpdate {
  text-decoration: underline;
}
#detail {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
#dragBar {
  position: absolute;
  width: 100%;
  height: 5px;
  cursor: row-resize;
  text-align: center;
  border-top: 1px solid #1bc07d;
}

.hl {
  color: red;
}

i.arrow {
  display: inline-block;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
  flex: 0;
}
.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.selected i.arrow {
  border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.openlink td {
  /*background: gray !important;*/
  font-weight: bold;
}
tr.openlink .first > *:first-child {
  color: red;
  text-decoration: underline;
}

.filters li {
  float: left;
  margin: 3px;
}
.filters:after {
  content: "";
  clear: both;
}
#menuWrap {
  position: fixed;
  height: 31px;
  top: 0;
  left: 0;
  z-index: 3;
  background: white;
  width: 100%;
  padding: 3px;
}
#menuWrap:hover {
  z-index: 1000;
}
#menus {
  border: 1px solid #dadce0;
  border-radius: 8px;
  float: left;
}
#tbl {
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
}
.first {
  display: inline-flex;
}
.first > * {
  padding: 3px;
}

.del {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAABEUlEQ…2fpXmiGfFATs5/sufukz1ncOknYkRiQ06p5GxImtJu3F+8AXd0lPf62kHsAAAAAElFTkSuQmCC);
  background-size: 12px 12px;
  height: 12px;
  vertical-align: text-top;
  width: 12px;
}

ul.filterp {
  padding: 0;
  margin: 0;
  background: white;
  list-style: none;
  width: 300px;
}
.filterp li {
  padding: 0;
  margin: 0;
  float: left;
}

.webview {
  position: fixed;
  left: 200px;
  right: 0;
  bottom: 0;
  top: 60%;
  display: none;
  z-index: 4;
  transition: top 0.5s;
  -webkit-transition: top 0.5s; /* Safari */
  transition: left 0.5s;
  -webkit-transition: left 0.5s; /* Safari */
}
.fullscreen {
  top: 0 !important;
  left: 0 !important;
}
.up {
  color: red;
}
.down {
  color: green;
}
.selectDate {
  position: absolute;
  top: 5px;
  right: 35px;
  z-index: 10000;
  text-align: right;
}

.zui-table {
  border: none;
  border-right: solid 1px #ddefef;
  border-collapse: separate;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
  background-color: #ddefef;
  border: none;
  color: #336b6b;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
}
.zui-table tbody td {
  border-bottom: solid 1px #ddefef;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
}
.zui-wrapper {
  position: relative;
}
.zui-scroller {
  margin-left: 230px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 5px;
  width: 300px;
}
.zui-table .zui-sticky-col {
  border-left: solid 1px #ddefef;
  left: 0;
  position: absolute;
  top: auto;
  width: 120px;
}
.zui-table .zui-sticky-col2 {
  border-right: solid 1px #ddefef;
  left: 140px;
  position: absolute;
  top: auto;
  width: 70px;
}

.click {
  cursor: pointer;
}

.align {
  position: fixed;
  left: 0;
  z-index: 1;
  border: 1px solid red;
  width: 100%;
}
